doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title refactorized blog
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Press+Start+2P')
    link(rel='stylesheet', href=helpers.root('style/main.css'))
  body
    header.column.row
      h1: a(href=helpers.root()) refactorized blog
    #main.row
      #content
        block content
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js')
    script(src=helpers.root('scripts/lodash.js'))
    script.
      $(document).foundation();
    if(site.fancy)
      script(src=helpers.root('scripts/vg.js'))
