extend ../templates/layout.pug
block content
  section.posts
    each post in site.posts
      article
        .article-head
          h2: a(href=post.permalink)= post.title
          .post-date= helpers.formatDate(post.date)
        .post !{post.short}
        if(post.shortened)
          p
            a(href=post.permalink) read more...
