extend ../templates/layout.pug
block content
  section.posts
    each post in site.posts
      article
        .article-head
          h2= post.title
          .post-date= formatDate(post.date)
        .post !{post.body}
