extend ../templates/clean.pug
block head
  title portfolio adam.tolley
block content
  :commonmark()
    # portfolio for adam tolley

    I am working on a more complete portfolio currently;

    Until then, I present this fine, if slightly enigmatic, list of links:

    - [ my github ](https://github.com/refactorized)
    - [ my code pen ](http://codepen.io/refactorized/)
    - [ my jsfiddle ](https://jsfiddle.net/user/adamtolley/fiddles/)
    - [ my blog ](http://refactorized.github.io/)
    - [ my stackoverflow](http://stackoverflow.com/users/174965/adam-tolley)
